<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FitHounds</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
	<header>
		<nav class="navbar is-success" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				{% load static %}
				<a class="navbar-item" href="/">
					<img class="" src="{% static 'houndfit_main/loyola_logo.png' %}">
				</a>

				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
					data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{% url 'diary' %}">
						Diary
					</a>

					<a class="navbar-item" href="{% url 'split' %}">
						Split
					</a>
					<a class="navbar-item" href="{% url 'data' %}">
						Data
					</a>
				</div>
				<div class="navbar-end">
					<div class="navbar-item">
						{% if user.is_authenticated %}
						<div class="buttons">
							<form method="post" action="{% url 'logout' %}">
								{% csrf_token %}
								<button class="button is-light" type="submit">
									<strong>Log out</strong>
								</button>

							</form>
						</div>
						{% else %}
						<div class="buttons">
							<a class="button is-light" href="{% url 'register' %}">
								<strong>Sign up</strong>
							</a>
							<a class="button is-light" href="{% url 'login' %}">
								Log in
							</a>
						</div>
						{% endif %}

					</div>
				</div>
			</div>
		</nav>
	</header>

	{% block content %}
	{% endblock %}


</body>

</html>