{% extends "base.html" %}

{% block content %}
<section class="section">
	<h1 class="title">Past Workouts</h1>

	{% if past_workouts %}
	<nav class="panel is-primary">
		<p class="panel-heading">Past Workouts</p>
		{% for workout in past_workouts %}
		<a class="panel-block is-active">
			<span class="panel-icon">
				<i class="fas fa-book" aria-hidden="true"></i>
			</span>
			<strong>{{ workout.date }} | Total Sets: {{workout.sets}} |Weight moved: {{workout.weights}}</strong>
		</a>
		{% endfor %}

	</nav>

	{% else %}
	<p>No Previous Workouts, <strong>whatcha waiting for?</strong></p>
	{% endif %}
</section>
{% endblock %}